@import "node_modules/materialize-css/sass/components/color";

$primary-color: color("blue", "darken-1");
$secondary-color: color("yellow", "darken-2");



@import "node_modules/materialize-css/sass/materialize";

/*
 * Map SVG Container
 */
.field-select {
}
#map-container {
    height: 500px;
    text-align: center;
    position: relative;
    margin: 20px 0;
}

#map {
    display: block;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}

path.state {
    stroke: #666;
    stroke-width: .5;
}

path.state:hover {
    stroke: #000;
}

#upload_link{
    text-decoration:none;
}

#upload{
    display:none
}

#upload_csv {
  margin-left: 15%;
  text-decoration: none; }
/*
#upload_topo {
  margin-right: 5%;
  text-decoration: none; }


.upload-tabs {
  text-decoration: none;
  width: 5%;}

.session-id-area {
  position: relative;
  margin-top: 15px;
}
*/




